$lightgray: #E9EAED;
$gray: #D0D1D5;
$blue: #47639E;
$black: #000;
$borderColor: #E1E2E3;
$white: #FFFFFF;
$default-font: helvetica, arial, 'lucida grande', sans-serif;

$width-small: 900px;
$width-medium: 1111px;
$width-large: 1274px;

@mixin linear-gradient($from, $to) {
    background-color: $to;
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -ms-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
}

@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x, $y, $blur, $color;
    -moz-box-shadow: $x, $y, $blur, $color;
    box-shadow: $x, $y, $blur, $color;
}

@mixin window {
    border: {
        top: 1px $borderColor;
        left: 1px $borderColor;
        right: 1px $borderColor;
    }
    @include rounded(3px);
    @include shadow(0, 1px, 2px, #D0D1D5);
}

body {
    font-family: $default-font;
    background-color: $lightgray;
    margin: 0px;
}

header {
    display: block;
    direction: ltr;
    position: fixed;
    width: 100%;
    height: 42px;
    background-color: $blue;
    box-shadow: 0px 2px 1px #1C326C;
    @include linear-gradient(#4E69A2, #3B5998);

    div {
        padding: {
            left: 1px;
            right: 205px;
        }
        margin: 0 auto;
        width: 960px;
        height: 42px;

        .herder_content {
            display: inline-block;
            padding: 0;
            width: 960px;

            .lfloat {
                float: left;
            }
            .rfloat {
                float: right;
            }
        }
    }
}
.main {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 45px;
    width: 976px;
    padding-right: 205px;
    direction: ltr;

    .container {
        position: relative;
        display: block;

        .leftCol {
            padding: {
                top: 13px;
                left: 8px;
            }
            position: relative;
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            display: block;
            width: 164px;
            height: 900px;
            direction: ltr;
            float: left;

            .welcome {
                width: 164px;
                height: 40px;
                direction: ltr;

                .userpic {
                    float: left;
                    margin-right: 8px;
                }

                .username {
                    width: 116px;
                    height: 40px;
                    direction: ltr;

                    a {
                        color: $black;
                        display: block;
                    }
                }
            }

            .homeSidenav {
                margin-top: 12px;
                width: 164px;
                height: 116px;

                ul {
                    padding: 0;

                    li {
                        width: 188px;
                        height: 24px;

                        a {
                            color: $black;
                        }
                    }
                }
            }

            .listNav {
                width: 164px;
                height: 258px;

                ul {
                    margin: {
                        top: 4px;
                        bottom: 12px;
                    }
                    padding: 0;
                    width: 188px;
                    height: 240px;

                    li {
                        height: 24px;

                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
        .contentCol {
            padding: {
                left: 11px;
                top: 12px;
            }
            margin-left: 172px;
            min-height: 600px;
            border-left: 0;
            @include window;

            .contentMain {
                direction: ltr;
                display: block;
                padding: {
                    left: 0;
                    right: 10px;
                    bottom: 20px;
                }
                float: left;
                width: 496px;

                .pagelet_composer {
                    border: 1px solid $gray;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    width: 494px;
                    height: 148px;
                    background-color: $white;

                    .fix {
                        width: 494px;
                        height: 33px;

                        ul {
                            margin: 0 12px;
                            padding: 4px 0 2px 0;
                            width: 470px;
                            height: 26px;
                            border-bottom: 1px solid;
                            border-bottom-color: #E5E5E5;

                            li {
                                display: inline-block;
                                font-size: 12px;
                                height: 24px;
                                margin-left: 5px;

                                .leftpadding {
                                    padding-left: 10px;
                                    border-left: 1px solid;
                                    border-color: #E5E5E5;
                                }

                                b {
                                    color: $blue;
                                }
                            }
                        }
                    }

                    .type_composer {
                        width: 494px;
                        height: 73px;

                        div {
                            padding: 5px;
                            width: 484px;
                            height: 63px;

                            textarea {
                                padding: 8px 7px 0 7px;
                                width: 470px;
                                height: 55px;
                                font-size: 14px;
                                font-family: $default-font;
                                line-height: 18px;
                                background: transparent;
                                border: 0;
                                outline: 0;
                                resize: none;
                            }
                        }
                    }

                    .bottom_composer {
                        border-top: 1px solid $lightgray;
                        background-color: #F6F7F8;
                        width: 494px;
                        height: 40px;
                        border-bottom: {
                            left-radius: 3px;
                            right-radius: 3px;
                        }

                        div {
                            width: 494px;
                            height: 40px;

                            button{
                                margin: 8px;
                                padding: 0 16px;
                                border: 1px solid #334C83;
                                border-radius: 2px;
                                background-color: #4E69A2;
                                display: inline-block;
                                cursor: pointer;
                                line-height: 22px;
                                color: $white;
                                float: right;
                            }
                        }
                    }
                }
            }

            .rightCol {
                padding: 0 7px 0 0;
                width: 280px;
                height: 647px;
                direction: ltr;
                float: right;
                display: block;
                @include window;

                .padding {
                    padding: 12px;
                    border: 1px solid $gray;
                    background-color: $white;

                    .home_rightCol {
                        width: auto;

                        div {
                            width: 254px;
                            height: 12px;
                            padding: 12px 0 0 0;
                            border-top: 1px solid $lightgray;
                            margin-top: 12px;

                            h6 {
                                margin: 0;
                                width: 195px;
                                height: 12px;
                                color: #9197A3;
                            }
                        }

                        ul {
                            padding: 0;
                            margin: 0;

                            li{
                                padding: 10px 0 6px 0;
                                width: 254px;
                                height: 56px;

                                a {
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ChatsideBar {
            position: fixed;
            vertical-align: top;
            top: 44px;
            right: -1px;
            box-sizing: border-box;
            width: 205px;
            background-color: $lightgray;
            border: 1px solid #CCCCCC;
        }
    }

    @media screen and (max-width: $width-large) {
    }

    @media screen and (max-width: $width-medium) {
        .ChatsideBar {
            display: none;
        }
    }

    @media screen and (max-width: $width-small) {
        .ChatsideBar {
            display: none;
        }

        .container .contentCol .rightCol {
            display: none;
        }
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#facebook-icon {
    background: $white;
    text-indent: -999em;
    width: 18px;
    height: 21px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 3px solid $white;
    border-bottom: 0;
}
#facebook-icon::before {
    content: "/20";
    position: absolute;
    background: $white;
    width: 8px;
    height: 18px;
    bottom: -6px;
    right: -7px;
    border: 4px solid $blue;
    border-radius: 5px;
}
#facebook-icon::after {
    content: "/20";
    position: absolute;
    width: 11px;
    top: 10px;
    height: 4px;
    background: $blue;
    right: 1px;
}
#topbar_shape {
    font-size: 14px;
    height: 20px;
    border-radius: 4px;
    border-color: #141823;
    border: 1px;
    padding: 2px 0px 2px 8px;
}
#magnifying-glass
{
    font-size: 1.6em;
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    border: 0.1em solid #A6AAB3;
    position: relative;
    border-radius: 0.35em;
    background: white;
}
#magnifying-glass::before
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.21em;
    bottom: -0.15em;
    border-width: 0;
    background: #A6AAB3;
    width: 0.25em;
    height: 0.1em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
